<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{dish.desciption}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Show only if dishes IS unknown or undefined -->
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

  <div flex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matline><span>{{ comment.comment }}</span></p>
        <p matline><span>-- {{ comment.rating }} Stars</span></p>
        <p matline><span>{{ comment.author }} {{ comment.date | date }}</span></p>
      </mat-list-item>
   
      <mat-list-item *ngIf="commentForm.valid">
        <p matline><span>{{ commentForm.value.comment }}</span></p>
        <p matline><span>-- {{ commentForm.value.rating }} Stars</span></p>
        <p matline><span>{{ commentForm.value.author }}</span></p>
      </mat-list-item>
    </mat-list>

    <!-- Comment Form -->
    <p>{{ commentForm.value | json }} {{ commentForm.status | json }} </p>
    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Your name" type="text" required>
          <mat-error *ngIf="formErrors.author"> {{ formErrors.author }} </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="rating" min="0" max="5" step="1" thumbLabel tickInterval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows="4"></textarea>
          <mat-error *ngIf="formErrors.comment"> {{ formErrors.comment }} </mat-error>
        </mat-form-field>
      </p>
      <p>
        <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled]="commentForm.invalid">Submit</button>
      </p>
    </form>
  </div>
  <!-- Show only if dishes IS unknown or undefined -->
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>